.newpost-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #dae0e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 2rem;
}

.newpost-wrapper .newpost-container {
  max-width: 400px;
  width: 100%;
  padding-top: 20px;
  border-color: #edeff1;
}

.newpost-wrapper .newpost-container .newpost-title {
  font-size: 13px;
}

.newpost-wrapper .newpost-container .newpost-template {
  background-color: white;
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 5px;
}

.newpost-wrapper .newpost-container .newpost-template .newpost-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newpost-wrapper .newpost-container .newpost-template .newpost-options > .submit-type-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  padding: 10px 24px;
  background-color: white;
  border-width: 0 1px 1px 0;
  border-color: #edeff1;
  font-size: 1em;
  border-style: solid;
  position: relative;
  cursor: pointer;
}

.newpost-wrapper .newpost-container .newpost-template .newpost-options .selectedType:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  height: 2px;
  right: 0;
  background-color: #0079d3;
}

.newpost-wrapper .newpost-container .newpost-template .newpost-title-container {
  padding: 10px;
}

.newpost-wrapper .newpost-container .newpost-template .newpost-title-container .newpost-title {
  padding: 4px;
  border-width: 1px 1px 1px 1px;
  border-color: #edeff1;
  width: 100%;
  font-weight: 100;
  border-style: solid;
}

.newpost-wrapper .newpost-container .newpost-template .newpost-entry-container {
  padding: 10px;
}

.newpost-wrapper .newpost-container .newpost-template .newpost-entry-container .newpost-entry {
  padding: 4px;
  border-width: 1px 1px 1px 1px;
  border-color: #edeff1;
  width: 100%;
  font-weight: 100;
  border-style: solid;
}

.newpost-wrapper .newpost-container .newpost-template .submission-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 4px;
}

.newpost-wrapper .newpost-container .newpost-template .submission-button-container :first-child {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-weight: 500;
  padding: 3px 16px;
  text-align: center;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #f06c00;
  color: #f06c00;
  line-height: 24px;
}

.newpost-wrapper .newpost-container .newpost-template .submission-button-container :nth-child(2) {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding: 3px 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  background-color: #f06c00;
  border: 1px solid #f06c00;
  color: white;
  line-height: 24px;
}
/*# sourceMappingURL=newPost.css.map */